* {
  /* background-color: green; */
}
/* #heading2 {
  color: red;
}
#heading2 {
  color: yellow;
} */
.mainconatiner .innercontainer p {
  color: red;
}
.mainconatiner > p {
  background-color: blue;
}
#listitem {
  /* color: red; */
}
#listitem + li {
  /* color: blue; */
}
#listitem ~ li {
  /* color: rgb(26, 223, 20); */
}
#loginbtn {
  border: none;
  background-color: blue;
  color: white;
  border-radius: 4px;
  padding: 5px 10px;
}
#loginbtn:hover {
  background-color: greenyellow;
}
#loginbtn:active {
  background-color: rgb(18, 19, 18);
}
#clickmebtn:active {
  background-color: blue;
}
#username:focus {
  background-color: beige;
  outline: none;
  border: 1px solid gray;
  color: red;
  padding: 10px;
}
#unorderedlist li:first-child {
  /* color: blue; */
}
#unorderedlist li:last-child {
  /* color: rgb(0, 247, 255); */
}
#unorderedlist li:nth-child(odd) {
  color: blue;
}
