* {
  margin: 0;
  padding: 0;
}
.productcard {
  margin: auto;
  width: 300px;
  border: 1px solid rgb(218, 211, 211);
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
}
.productcard .productimage {
  width: 100%;
  height: 50%;
}
.productcard .productimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.productcard .producttext {
  padding: 0px 10px;
  background-color: rgb(241, 241, 239);
}
.productcard .producttext .productname {
  font-size: 24px;
  font-weight: 500;
}
.productcard .producttext .productprice {
  font-size: 20px;
  font-weight: 400;
}
.productcard .producttext .productdescription {
  font-size: 12px;
  text-align: justify;
}
